<!DOCTYPE html>
<div class="jumbotron">
        <div class="container">
            <div class="col-xs-offset-2 col-xs-8">
			<div ng-controller="adminCtrl" ng-init='products=<%- JSON.stringify(products) %>; materials=<%- JSON.stringify(materials) %>; tempMaterials=<%- JSON.stringify(materials) %>'>
				<u>Edit Materials</u>
				<br>
				<button ng-hide="newEditMaterial == true" type="button" ng-click="showEditMaterial()" class="btn btn-default">Edit Material</button>
				<div ng-show="newEditMaterial == true">
					Choose a Distributor: <select name="editDistributor" ng-model="editDistributor" ng-options="material.distributor for material in tempMaterials | orderBy:'distributor' | unique: 'distributor'">
					<option value="">----Select----</option>
					</select>
					<br>
					<div ng-show="editDistributor">
						<br>
						Choose a Manufacturer:
						<select name="editManufacturer" ng-model="editManufacturer" ng-options="material.manufacturer for material in tempMaterials | filter:{distributor:editDistributor.distributor} | unique: 'manufacturer' | orderBy:'manufacturer'">
							<option value="">----Select----</option>
						</select>
					</div>
					<div ng-show="editDistributor && editManufacturer">
						<br>
						Choose a Colour Group:
						<select name="editColourGroup" ng-model="editColourGroup" ng-options="material.colourGroup for material in tempMaterials | filter:{manufacturer:editManufacturer.manufacturer} | unique: 'colourGroup' | orderBy:'colourGroup'">
							<option value="">----Select----</option>
						</select>
					</div>
					<div ng-show="editDistributor && editManufacturer && editColourGroup">
						<br>
						Choose a Colour Description:
						<select name="editDescription" ng-model="editDescription" ng-options="material.description for material in tempMaterials | filter:{colourGroup:editColourGroup.colourGroup} | unique: 'cdescription' | orderBy:'description'">
							<option value="">----Select----</option>
						</select>
					</div>

					<div ng-show="editDistributor && editManufacturer && editColourGroup && editDescription">
						<br>
						<ul class="list-group"> 
							<li class="list-group-item">	
								Item Code: <input type="text" name="itemCode" ng-model="editDescription.itemCode"> <br> 
							</li>	
							<li class="list-group-item">	
								Thickness: <input type="text" name="thickness" ng-model="editDescription.thickness"> <br> 
							</li>	
							<li class="list-group-item">	
								Width (In.): <input type="text" name="width" ng-model="editDescription.width"> <br> 
							</li>				
							<li class="list-group-item">	
								Length (In.): <input type="text" name="length" ng-model="editDescription.length"> <br> 
							</li>	
							<li class="list-group-item">	
								Full Sheet 1-5: <input type="text" name="fullSheet1" ng-model="editDescription.fullSheet1"> <br> 
							</li>	
							<li class="list-group-item">	
								Half Sheet: <input type="text" name="halfSheet" ng-model="editDescription.halfSheet"> <br> 
							</li>
							<li class="list-group-item">	
								Full Sheet 5-20: <input type="text" name="fullSheet5" ng-model="editDescription.fullSheet5"> <br> 
							</li>
							<li class="list-group-item">	
								Full Sheet 21+: <input type="text" name="fullSheet21" ng-model="editDescription.fullSheet21"> <br> 
							</li>
							<li class="list-group-item">	
								ISA: <input type="text" name="isa" ng-model="editDescription.isa"> <br> 
							</li>
							<li class="list-group-item">	
								Collection: <input type="text" name="collection" ng-model="editDescription.collection"> <br> 
							</li>
						</ul>
					    <button type="button" ng-click="deleteMaterial(tempMaterials, editDescription)" class="btn btn-danger">Delete</button> 
					</div>
				    <br>
   				    <button type="button" ng-click="saveMaterial(tempMaterials, 	editDescription)" class="btn btn-default">Save</button>
				    <button type="button" ng-click="cancelSaveMaterial()" class="btn btn-default">Cancel</button> 
				</div>
				<br>
				<u>Add New Materials</u>
				<br>
				<button ng-hide="newMaterial == true" type="button" ng-click="showNewMaterial()" class="btn btn-default">Add new Material</button>
				<br>
				<div ng-show="newMaterial == true">
						<ul class="list-group"> 
							<li class="list-group-item">	
								Distributor: <input type="text" name="newDistributor" ng-model="newDescription.Distributor"> <br> 
							</li>
							<li class="list-group-item">	
								Manufacturer: <input type="text" name="newManufacturer" ng-model="newDescription.manufacturer"> <br> 
							</li>
							<li class="list-group-item">	
								Colour Group: <input type="text" name="newColourGroup" ng-model="newDescription.colourGroup"> <br> 
							</li>
							<li class="list-group-item">	
								Colour Description: <input type="text" name="newDescription" ng-model="newDescription.description"> <br> 
							</li>
							<li class="list-group-item">	
								Item Code: <input type="text" name="newItemCode" ng-model="newDescription.itemCode"> <br> 
							</li>	
							<li class="list-group-item">	
								Thickness: <input type="text" name="newThickness" ng-model="newDescription.thickness"> <br> 
							</li>	
							<li class="list-group-item">	
								Width (In.): <input type="text" name="newWidth" ng-model="newDescription.width"> <br> 
							</li>				
							<li class="list-group-item">	
								Length (In.): <input type="text" name="newLength" ng-model="newDescription.length"> <br> 
							</li>	
							<li class="list-group-item">	
								Full Sheet 1-5: <input type="text" name="newFullSheet1" ng-model="newDescription.fullSheet1"> <br> 
							</li>	
							<li class="list-group-item">	
								Half Sheet: <input type="text" name="newHalfSheet" ng-model="newDescription.halfSheet"> <br> 
							</li>
							<li class="list-group-item">	
								Full Sheet 5-20: <input type="text" name="newFullSheet5" ng-model="newDescription.fullSheet5"> <br> 
							</li>
							<li class="list-group-item">	
								Full Sheet 21+: <input type="text" name="newFullSheet21" ng-model="newDescription.fullSheet21"> <br> 
							</li>
							<li class="list-group-item">	
								ISA: <input type="text" name="newisa" ng-model="newDescription.isa"> <br> 
							</li>
							<li class="list-group-item">	
								Collection: <input type="text" name="newCollection" ng-model="newDescription.collection"> <br> 
							</li>
					<button type="button" ng-click="hideNewMaterial()" class="btn btn-default">Cancel</button> 
					<button type="button" ng-click="saveNewMaterial(materials, tempMaterials, newDescription)" class="btn btn-default">Save</button> 
				</div>
					
				<br>
			</div>
        </div>
    </div>
</div>