<!DOCTYPE html>
<div ng-controller="adminCtrl" ng-init='products=<%- JSON.stringify(products) %>'>	
	<form role="form">
		<u>Products</u>
		Choose a Category:
		<select name="category" ng-model="dropDown1" ng-options="product.category for product in products | unique: 'category' track by product.category">
			<option value="">----Select----</option>
		</select>
		<br>
		<div ng-show="dropDown1">
			<br>
			Choose a Product:
			<select name="product" ng-model="dropDown2" ng-options="product.product for product in products | filter:{category: dropDown1.category} track by product.product">
				<option value="">----Select----</option>
			</select>
		</div>
		<div ng-show="dropDown2 && dropDown1">
			<br>
			<ul class="list-group"> 
				<li class="list-group-item">
					Product Description: {{dropDown2.product}} <br>
				</li>
				<li class="list-group-item">
					Product ID: {{dropDown2.id}}<br>
				</li>
				<li class="list-group-item">	
					Price: <input type="text" name="price" ng-model="dropDown2.price"> <br>
				</li>	
				<li class="list-group-item">	
						Charge by: 
						<select name="unitOfMeasure" ng-model="dropDown2.unitOfMeasure">
							<option value="Inch">Inch</option>
							<option value="Foot">Foot</option>
							<option value="Per Unit">Per Unit</option>
						</select> <br>
				</li>
				<li class="list-group-item">	
						Charge Type: 
						<select name="chargeType" ng-model="dropDown2.chargeType">
							<option value="Flat Rate">Flat Rate</option>
							<option value="Per Unit">Per Unit</option>
						</select> <br>
				</li>
			    <button type="button" ng-click="save(products)" class="btn btn-default">Save</button>
			</ul>
		</div>
	</form>
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	<br><br>
	<u>Materials</u>
	<br>
	 <button type="button" ng-click="showNewMaterial()" class="btn btn-default">Add new Material</button>      <button type="button" ng-click="save(products)" class="btn btn-default">Edit Current Materials</button>
	
	<div ng-show="newMaterial == true">
		<br>Colour Group <input type="text" name="colourGroup" ng-model="colourGroup">
		<br>Material Name: <input type="text" name="materialName" ng-model="materialName">
		<br>Price: <input type="text" name="materialPrice" ng-model="materialPrice">
		<button type="button" ng-click="showNewMaterial()" class="btn btn-default">CancelM</button>
	</div>
</div>

