<!DOCTYPE html>
<div class="jumbotron">
        <div class="container">
            <div class="col-xs-offset-2 col-xs-8">
			<div ng-controller="customersCtrl" ng-init='customers=<%- JSON.stringify(data) %>; init()'>
				Search by Name: <input type="text" ng-model="filter.search"><br><br>
				<ul>
					<li ng-repeat="customer in customers | filter:filter.search">
						<a ng-href="/#/customer/{{customer.custCode}}">{{customer.firstName}} {{customer.lastName}} - {{customer.email}}</a>
					</li>
				</ul>
				<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
			</div>
        </div>
    </div>
</div>