<!DOCTYPE html>
<!--
Edit Customers
-->
<md-tabs md-dynamic-height="" md-border-bottom="">
<md-tab label="Customers">
<md-content class="md-padding">
	<div class="form-group">
			<div class="input-group">
			<div class="input-group-addon"><i class="fa fa-search"></i></div>
			<input type="text" class="form-control" placeholder="Search Customers" ng-model="customerFilter.search">
		</div>
	</div>
	<div class="list group">
		<div class="col-xs-6 col-sm-4" data-ng-repeat="customer in vm.customers | orderBy:'companyName' | filter:customerFilter.search">
			<a ng-href="/#/customer/{/customer.custCode/}" class="list-group-item">
				<i class="fa fa-address-card"></i>
				<h5>{/vm.buildCustomer(customer)/}</h5>
			</a>
		</div>
	</div>
</md-content>
</md-tab>
</md-tabs>

