<!DOCTYPE html>
<div class="jumbotron">
        <div class="container">
            <div class="col-xs-offset-2 col-xs-8">
			<div ng-controller="customersCtrl">
			<ng-init='init()'>
				<table>
					<caption>Search by Name: <input type="text" ng-model="filter.search"></caption>
					<tr ng-repeat="customer in vm.customers | orderBy:'companyName' | filter:filter.search">
							<td>
								<a ng-href="/#/customer/{/customer.custCode/}">{/vm.buildCustomer(customer)/}</a>
							</td>
					</tr>
				</table>
					<alert ng-repeat="alert in vm.alerts" type="{/alert.type/}" close="vm.closeAlert($index)">{/alert.msg/}</alert>
			</div>
        </div>
    </div>
</div>