<!DOCTYPE html>
<div ng-controller="customersCtrl" ng-init='customers=<%- JSON.stringify(data) %>'>
	Search by Name: <input type="text" ng-model="filters.search"><br><br>
	<ul>
		<li ng-repeat="customer in customers | filter:filters.search">
			<a ng-href="customer/{{customer.custCode}}">{{customer.firstName}} {{customer.lastName}} - {{customer.email}}</a>
		</li>
	</ul>
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>