<!DOCTYPE html>
<div class="jumbotron">
        <div class="container">
            <!--<div class="col-xs-offset-2 col-xs-8">-->
			<!--<div ng-controller="customersCtrl">-->
				<md-content>
					<md-tabs md-dynamic-height="" md-border-bottom="">
					<md-tab label="Customers">
					<md-content class="md-padding">
						<table>
							<caption>Search by Name: <input type="text" ng-model="customerFilter.search"></caption>
							<tr ng-repeat="customer in vm.customers | orderBy:'companyName' | filter:customerFilter.search">
									<td>
										<a ng-href="/#/customer/{/customer.custCode/}">{/vm.buildCustomer(customer)/}</a>
									</td>
							</tr>
						</table>
						<alert ng-repeat="alert in vm.alerts" type="{/alert.type/}" close="vm.closeAlert($index)">{/alert.msg/}</alert>
					</md-tab>
					<md-tab label="Quotes">
					<md-content class="md-padding">
						<table>
							<caption>Search: <input type="text" ng-model="quoteFilter.search"></caption>
							<tr>
								<td>
									Created On
								</td>
								<td>
									Last updated
								</td>
								<td>
									Created By
								</td>
								<td>
									Quote ID
								</td>
								<td>
									Quote Value
								</td>								
								<td>
									Sent Date
								</td>
								<td>
									Customer Name
								</td>
								<td>
									Project Name / Description
								</td>
							</tr>
							<tr ng-repeat="quote in vm.quotes.quotes | orderBy:'updatedAt':true | filter:quoteFilter.search">
								<td>
									{/quote.createdAt | limitTo: 10/}
								</td>
								<td>
									{/quote.updatedAt | limitTo: 19/}
								</td>
								<td>
									{/quote.account.firstName/} {/quote.account.lastName/}
								</td>
								<td>
									<a ng-href="/#/customer/{/quote.custCode/}/quotebuild/{/quote.quoteID/}">{/quote.quoteID/}</a>
								</td>
								<td>
									{/quote.totalPrice| currency:$/}
								</td>								
								<td>
									{/quote.sentDate/}
								</td>
								<td>
									{/vm.buildCustName(quote.custCode)/}
								</td>
								<td>
									{/quote.description/}
								</td>
							</tr>
						</table>
					</md-content>
					</md-tab>
				</md-tabs>
				</md-content>
			<!--</div>-->
        </div>
    </div>
</div>