    <!DOCTYPE=html>
    <div class="jumbotron">
        <div class="container">
            <div class="col-xs-offset-2 col-xs-8">
                Change log:
                <br>
                <br>2016-03-24
                <br>
                <br>
                <ul>
                    <li>TAC now rounds properly</li>
                </ul>

                <br>2015-12-15
                <br>
                <br>
                <ul>
                    <li>When adding a new counter forms clear previous values</li>
                    <li>When adding a new addon forms clear previous values</li>
                        <li>Review Quote:
                        <ul>
                            <li> Added project description</li>
                            <li>p.o. and payment terms swapped</li>
                        </ul>
                    </li>
                    <li>Add to Quote Builder: Fix calculation (convert inches to feet, when doing formula)</li>
                    <li>P.O. number for each new quote (optional for quotes, though)</li>
                    <li>Terms and conditions</li>
                </ul>
                <br>2015-10-20
                <br>
                <ul>
                    <li>Added Back button on final quote page.</li>
                </ul>
                <br>2015-10-25
                <br>
                <ul>
                    <li>Fixed Logout bug</li>
                </ul>                
                <br>2015-10-13
                <br>
                <ul>
                    <li>Added ability to edit counters once they've been made</li>
                </ul>
                <br>2015-09-30
                <br>
                <ul>
                    <li>Added 'SSI' services to products section.</li>
                    <li>Fixed Item/Square foot addon functionality.</li>
                </ul>
                <br>2015-09-27
                <br>
                <ul>
                	<li>Added new quote printout.</li>
                </ul>
            </div>
        </div>
    </div>