    <!DOCTYPE=html>
    <div class="jumbotron">
        <div class="container">
            <div class="col-xs-offset-2 col-xs-8">
                Change log:
                <br>
                <br>2015-09-27
                <br>
                <ul>
                	<li>Added new quote printout</li>
                </ul>
            </div>
        </div>
    </div>
