    <!DOCTYPE=html>
    <div class="jumbotron">
        <div class="container">
            <div class="col-xs-offset-2 col-xs-8">
                Change log:
                <br>
                <br>2015-10-25
                <br>
                <ul>
                    <li>Fixed Logout bug.</li>
                </ul>                
                <br>
                <br>2015-10-13
                <br>
                <ul>
                    <li>Added ability to edit counters once they've been made.</li>
                </ul>
                <br>2015-09-30
                <br>
                <ul>
                    <li>Added 'SSI' services to products section</li>
                    <li>Fixed Item/Square foot addon functionality</li>
                </ul>
                <br>
                <br>2015-09-27
                <br>
                <ul>
                	<li>Added new quote printout</li>
                </ul>
            </div>
        </div>
    </div>
