<DIV id="page_1">


<DIV id="id_1">
<TABLE cellpadding=0 cellspacing=0 class="t0">
<TR>
	<TD class="tr0 td0"><P class="p0 ft0">Surfacing Solutions 2010 Ltd.</P></TD>
	<TD class="tr0 td1"><P class="p0 ft1">Invoice</P></TD>
</TR>
</TABLE>
</DIV>
<DIV id="id_2">
<DIV id="id_2_1">
<P class="p1 ft2"><NOBR>34-160</NOBR> Wilkinson Road Brampton, Ontario L6T 4Z4</P>
<P class="p2 ft3">P: <NOBR>905-874-1814</NOBR> F: <NOBR>905-874-8083</NOBR> Website: www.surfacingsolutions.ca Email: psmith45@bell.net</P>
</DIV>
<DIV id="id_2_2">
<TABLE cellpadding=0 cellspacing=0 class="t1">
<TR>
	<TD class="tr1 td2"><P class="p3 ft4">Date</P></TD>
	<TD class="tr1 td3"><P class="p4 ft4">Invoice #</P></TD>
</TR>
<TR>
	<TD class="tr2 td4"><P class="p0 ft5">&nbsp;</P></TD>
	<TD class="tr2 td5"><P class="p0 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr1 td6"><P class="p5 ft3">3/20/2015</P></TD>
	<TD class="tr1 td7"><P class="p6 ft3">3684</P></TD>
</TR>
<TR>
	<TD class="tr3 td4"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr3 td5"><P class="p0 ft6">&nbsp;</P></TD>
</TR>
</TABLE>
</DIV>
</DIV>
<DIV id="id_3">
<TABLE cellpadding=0 cellspacing=0 class="t2">
<TR>
	<TD class="tr4 td8"><P class="p7 ft7">Invoice To</P></TD>
	<TD class="tr4 td9"><P class="p0 ft8">&nbsp;</P></TD>
	<TD colspan=3 class="tr4 td10"><P class="p8 ft4">Project Name</P></TD>
	<TD class="tr4 td11"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr4 td12"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr4 td13"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr5 td14"><P class="p0 ft8">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr6 td15"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr6 td16"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr6 td17"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr6 td18"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr6 td18"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr6 td19"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr6 td20"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr6 td21"><P class="p0 ft9">&nbsp;</P></TD>
	<TD class="tr2 td14"><P class="p0 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr7 td22"><P class="p9 ft3">G & P Millwork Ltd.</P></TD>
	<TD class="tr7 td23"><P class="p0 ft8">&nbsp;</P></TD>
	<TD colspan=3 class="tr7 td24"><P class="p10 ft3">Oracle Cafe Renovation</P></TD>
	<TD class="tr7 td25"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr7 td26"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr7 td27"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr7 td14"><P class="p0 ft8">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td22"><P class="p9 ft2">191 Finchdene Square,</P></TD>
	<TD class="tr8 td23"><P class="p0 ft10">&nbsp;</P></TD>
	<TD colspan=3 class="tr8 td24"><P class="p10 ft2">100 Milverton Drive</P></TD>
	<TD class="tr8 td25"><P class="p0 ft10">&nbsp;</P></TD>
	<TD class="tr8 td26"><P class="p0 ft10">&nbsp;</P></TD>
	<TD class="tr8 td27"><P class="p0 ft10">&nbsp;</P></TD>
	<TD class="tr8 td14"><P class="p0 ft10">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td22"><P class="p9 ft2">Scarborough, Ontario</P></TD>
	<TD class="tr8 td23"><P class="p0 ft10">&nbsp;</P></TD>
	<TD colspan=3 class="tr8 td24"><P class="p10 ft2">Mississauga, Ontario</P></TD>
	<TD class="tr8 td25"><P class="p0 ft10">&nbsp;</P></TD>
	<TD class="tr8 td26"><P class="p0 ft10">&nbsp;</P></TD>
	<TD class="tr8 td27"><P class="p0 ft10">&nbsp;</P></TD>
	<TD class="tr8 td14"><P class="p0 ft10">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr9 td22"><P class="p9 ft3">M1X 1E3</P></TD>
	<TD class="tr9 td23"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr9 td28"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr9 td29"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr9 td29"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr9 td25"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr9 td26"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr9 td27"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr9 td14"><P class="p0 ft8">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr10 td15"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr10 td16"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr10 td17"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr10 td18"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr10 td18"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr10 td19"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr10 td20"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr10 td21"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr11 td14"><P class="p0 ft8">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr12 td24"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr12 td30"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr12 td28"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr12 td29"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr12 td29"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr13 td19"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr13 td20"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr13 td31"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr13 td32"><P class="p0 ft8">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr14 td24"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr14 td30"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr14 td28"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr14 td29"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr14 td33"><P class="p0 ft8">&nbsp;</P></TD>
	<TD colspan=2 class="tr14 td34"><P class="p11 ft4">P.O. No./ Job No.</P></TD>
	<TD class="tr14 td35"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr14 td36"><P class="p12 ft11">Payment Terms</P></TD>
</TR>
<TR>
	<TD class="tr3 td24"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr3 td30"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr3 td28"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr3 td29"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr3 td33"><P class="p0 ft6">&nbsp;</P></TD>
	<TD class="tr2 td19"><P class="p0 ft5">&nbsp;</P></TD>
	<TD class="tr2 td37"><P class="p0 ft5">&nbsp;</P></TD>
	<TD class="tr2 td31"><P class="p0 ft5">&nbsp;</P></TD>
	<TD class="tr2 td38"><P class="p0 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr15 td24"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr15 td30"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr15 td28"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr15 td29"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr15 td33"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr15 td25"><P class="p13 ft3">63820</P></TD>
	<TD class="tr15 td39"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr15 td35"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr15 td36"><P class="p14 ft3">Net 30</P></TD>
</TR>
<TR>
	<TD class="tr16 td24"><P class="p0 ft12">&nbsp;</P></TD>
	<TD colspan=2 class="tr16 td40"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr16 td29"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr16 td33"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr17 td19"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr17 td37"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr17 td31"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr17 td38"><P class="p0 ft13">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr18 td41"><P class="p0 ft8">&nbsp;</P></TD>
	<TD colspan=2 class="tr18 td42"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr18 td18"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr18 td18"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr18 td19"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr18 td20"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr18 td31"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr18 td32"><P class="p0 ft8">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr14 td43"><P class="p15 ft4">Item</P></TD>
	<TD colspan=4 class="tr14 td44"><P class="p16 ft4">Project Description</P></TD>
	<TD class="tr14 td45"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr14 td26"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr14 td35"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr14 td36"><P class="p17 ft11">Amount ($)</P></TD>
</TR>
<TR>
	<TD class="tr2 td46"><P class="p0 ft5">&nbsp;</P></TD>
	<TD colspan=5 class="tr2 td47"><P class="p0 ft5">&nbsp;</P></TD>
	<TD colspan=2 class="tr2 td48"><P class="p0 ft5">&nbsp;</P></TD>
	<TD class="tr2 td38"><P class="p0 ft5">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr7 td43"><P class="p9 ft3">Olympia Tile</P></TD>
	<TD colspan=5 class="tr7 td49"><P class="p10 ft3">To template, fabricate and install Olympia Tile- Pierre Grey Quartz for Room 006</P></TD>
	<TD colspan=2 class="tr7 td50"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr7 td36"><P class="p18 ft3">3,720.00</P></TD>
</TR>
<TR>
	<TD class="tr8 td43"><P class="p0 ft10">&nbsp;</P></TD>
	<TD colspan=4 class="tr8 td44"><P class="p10 ft2">Condiment Station and Cashier Station</P></TD>
	<TD class="tr8 td45"><P class="p0 ft10">&nbsp;</P></TD>
	<TD class="tr8 td26"><P class="p0 ft10">&nbsp;</P></TD>
	<TD class="tr8 td35"><P class="p0 ft10">&nbsp;</P></TD>
	<TD class="tr8 td36"><P class="p0 ft10">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr8 td43"><P class="p9 ft2">Olympia Tile</P></TD>
	<TD colspan=4 class="tr8 td44"><P class="p10 ft2">Extra Site Vist for Installation</P></TD>
	<TD class="tr8 td45"><P class="p0 ft10">&nbsp;</P></TD>
	<TD class="tr8 td26"><P class="p0 ft10">&nbsp;</P></TD>
	<TD class="tr8 td35"><P class="p0 ft10">&nbsp;</P></TD>
	<TD class="tr8 td36"><P class="p19 ft2">250.00</P></TD>
</TR>
<TR>
	<TD class="tr9 td43"><P class="p0 ft8">&nbsp;</P></TD>
	<TD colspan=4 class="tr9 td44"><P class="p10 ft3">HST (ON) on sales</P></TD>
	<TD class="tr9 td45"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr9 td26"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr9 td35"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr9 td36"><P class="p19 ft3">516.10</P></TD>
</TR>
<TR>
	<TD class="tr19 td46"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr19 td51"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr19 td17"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr19 td18"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr19 td18"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr19 td52"><P class="p0 ft8">&nbsp;</P></TD>
	<TD colspan=2 class="tr19 td48"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr19 td38"><P class="p0 ft8">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr20 td22"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr20 td30"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr20 td28"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr20 td33"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr20 td29"><P class="p0 ft8">&nbsp;</P></TD>
	<TD colspan=3 class="tr20 td28"><P class="p10 ft14">Subtotal</P></TD>
	<TD class="tr20 td36"><P class="p20 ft3">$3,970.00</P></TD>
</TR>
<TR>
	<TD class="tr16 td15"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr16 td51"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr16 td17"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr16 td53"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr16 td18"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr16 td19"><P class="p0 ft12">&nbsp;</P></TD>
	<TD colspan=2 class="tr16 td48"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr16 td38"><P class="p0 ft12">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr16 td41"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr16 td51"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr16 td17"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr21 td33"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr21 td29"><P class="p0 ft15">&nbsp;</P></TD>
	<TD colspan=3 rowspan=2 class="tr20 td28"><P class="p10 ft14">Sales Tax Total</P></TD>
	<TD rowspan=2 class="tr20 td36"><P class="p20 ft3">$516.10</P></TD>
</TR>
<TR>
	<TD colspan=3 rowspan=2 class="tr20 td54"><P class="p9 ft3">All product remains the property of Surfacing Solutions 2010 Ltd until paid in full.</P></TD>
	<TD class="tr5 td33"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr5 td29"><P class="p0 ft8">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr21 td33"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr16 td18"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr16 td19"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr16 td20"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr16 td31"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr16 td38"><P class="p0 ft12">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=3 class="tr16 td54"><P class="p9 ft16">Interest charged at 2% per month on all past due accounts.</P></TD>
	<TD class="tr16 td33"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr16 td29"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr16 td25"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr16 td26"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr16 td35"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr16 td36"><P class="p0 ft12">&nbsp;</P></TD>
</TR>
<TR>
	<TD colspan=3 class="tr7 td54"><P class="p9 ft3">We now accept VISA and MasterCard at time of invoice only</P></TD>
	<TD class="tr7 td33"><P class="p0 ft8">&nbsp;</P></TD>
	<TD class="tr7 td29"><P class="p0 ft8">&nbsp;</P></TD>
	<TD colspan=3 rowspan=2 class="tr15 td28"><P class="p10 ft14">Total</P></TD>
	<TD rowspan=2 class="tr15 td36"><P class="p20 ft3">$4,486.10</P></TD>
</TR>
<TR>
	<TD class="tr17 td22"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr17 td30"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr17 td55"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr17 td33"><P class="p0 ft13">&nbsp;</P></TD>
	<TD class="tr17 td29"><P class="p0 ft13">&nbsp;</P></TD>
</TR>
<TR>
	<TD class="tr16 td15"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr16 td51"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr16 td56"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr21 td33"><P class="p0 ft15">&nbsp;</P></TD>
	<TD class="tr16 td18"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr16 td19"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr16 td20"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr16 td31"><P class="p0 ft12">&nbsp;</P></TD>
	<TD class="tr16 td38"><P class="p0 ft12">&nbsp;</P></TD>
</TR>
</TABLE>
</DIV>
<DIV id="id_4">
<TABLE cellpadding=0 cellspacing=0 class="t3">
<TR>
	<TD class="tr13 td57"><P class="p0 ft4">GST/HST No.</P></TD>
	<TD class="tr13 td58"><P class="p21 ft3">803045061</P></TD>
</TR>
</TABLE>
</DIV>
</DIV>
