<!DOCTYPE html>
<div class="jumbotron">
    <div class="container">
        <div class="col-xs-offset-2 col-xs-8">
			<div ng-controller="newCustomerCtrl" ng-init="save = <%if (save) {%><%= save %><%}else{%><%= false %><%}%>">
				<form>
					New Customer: <br>	
					First name <br> <input type='text' ng-model="firstName" name='firstName' required><br>
					Last name <br> <input type='text' ng-model="lastName" name='lastName'required><br>
					Company <br> <input type='text'  ng-model="companyName" name='companyName' required><br>
					Email Address <br> <input type='text' ng-model="email" name='email' required><br>
					Address <br> <input type='text' ng-model="addressLine1" name='addressLine1' required><br>
					Address Line 2 <br> <input type='text' ng-model="addressLine2" name='addressLine2' required><br>
					City <br> <input type='text' ng-model="city" name='city' required><br>					
					Province/State <br> <input type='text' ng-model="province" name='province' required><br>
					Postal Code <br> <input type='text' ng-model="postal" name='postal' required><br>
					Home Phone <br> <input type='text' ng-model="homePhone" name='homePhone' required><br>
					Cellphone <br> <input type='text' ng-model="mobilePhone" name='mobilePhone' required><br>
					<button type="button" style='btn' ng-click= "newCustomer(
						firstName,
						lastName,
						companyName,
						email,
						addressLine1,
						addressLine2,
						city,
						postal,
						province,
						homePhone,
						mobilePhone
					)">Create new Customer</button>
				</form>
				<div ng-show="save">{{save}}</div>
				<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
			</div>
        </div>
    </div>
</div>