<!DOCTYPE html> 
<div class="jumbotron">
    <div class="container">
    	    <div hl-sticky="" align="right" class="simple">
				<span style="float:right">
					<br>
					<div class="btn-group" style="margin:5px 0 10px;">
						<button type="button" class="btn" ng-click="vm.saveQuote(vm.quote.description, currentUser)">Update/Save Quote</button>
						<a ng-href="/#/customer/{/vm.customer.custCode/}/quotebuild/{/vm.quote.quoteID/}/quotefinal" class="btn btn-default" target=""> Office Copy</a> 
						<a ng-href="/#/customer/{/vm.customer.custCode/}/quotebuild/{/vm.quote.quoteID/}/quotesend" class="btn btn-default" target="">Client Copy</a> 
						
					</div>
				</span>			
			</div>
        <div class="col-xs-offset-2 col-xs-8">
			<div ng-init='vm.addCounter == false; vm.divMandatory = false; vm.divAddon = false;'>
				<!--<br>
				<br>
{/vm.materials|json/}-->
				<br>
				<span style="float:right">
					Project Name / Project Description:
					<br>
					<textarea rows="5" cols="50" ng-model="vm.quote.description"></textarea>
				</span>
				<span ng-show="vm.customer.firstName">
					Customer: {/vm.customer.companyName/} - {/vm.customer.lastName/}, {/vm.customer.firstName/}
				</span>
				<span ng-show="!vm.customer.firstName">
					Customer: {/vm.customer.companyName/} - {/vm.customer.contacts[0].lastName/}, {/vm.customer.contacts[0].firstName/}
				</span>
				<br>QuoteID: {/vm.quote.quoteID/}
				<br>
				P.O. Number: <input type="text" ng-model="vm.quote.poNumber">
				<br>
				Quote Created By: {/vm.quote.account.firstName/} {/vm.quote.account.lastName/}
				<br>
				<button type="button" style="btn" ng-click="vm.addGroup()">Create Group</button>
				<br>
				<hr style="background:#000000; border:0; height:7px" />
	      		<br>
				<div ng-repeat="group in vm.quote.counterGroup | orderBy:'-groupNumber' track by $index">
<!--{/group.groupNumber|json/}-->
					<u>Group {/group.groupNumber + 1/}</u> 
					<div id="quoteBuild">
						<textarea ng-model="group.description"></textarea>
						<button type="button" class="btn btn-danger" style="float:right" ng-click="vm.removeGroup(group.groupNumber)">DELETE THIS GROUP</button>
						<br>
						<button type="button" class="btn btn-info" style="float:right" ng-click="vm.counterRenderModal (group)">Show Counter/Slabs</button>
					</div>
					<br>
					<br>
					<br>
					<button type="button" ng-show="vm.quote.counterGroup[group.groupNumber].material" class="btn btn-default" ng-click="isMaterialCollapsed = !isMaterialCollapsed">Material - {/group.material.description/}</button>
					<!--Material Collapsable-->
		  			<div uib-collapse="!isMaterialCollapsed">
						<div class="well well-lg">
							<table class="table table-hover table-bordered">
								<caption>Material Info</caption>
								<tr>
									<td>
										Item Code
									</td>
									<td>
										Thickness
									</td>
									<td>
										Length
									</td>
									<td>
										Width
									</td>
								</tr>
								<tr>
									<td>
										{/group.material.itemCode/}
									</td>
									<td>
										{/group.material.thickness/}
									</td>
									<td>
										{/group.material.length/}
									</td>
									<td>
										{/group.material.width/}
									</td>
								</tr>
								<tr>
									<td>
										Distributor
									</td>
									<td>
										Manufacturer
									</td>
									<td>
										Colour Group
									</td>
									<td>
										Description
									</td>
								</tr>
								<tr>
									<td>
										{/group.material.distributor/}
									</td>
									<td>
										{/group.material.manufacturer/}
									</td>
									<td>
										{/group.material.colourGroup/}
									</td>
									<td>
										{/group.material.description/}
									</td>
								</tr>
								<tr>
									<td>
										Override Width
									</td>
									<td>
										Override Length
									</td>	
								</tr>
								<tr>
									<td>
										{/group.material.overrideWidth/}
									</td>
									<td>
										{/group.material.overrideLength/}
									</td>
								</tr>
							</table>
							<span ng-show="vm.editMaterial[group.groupNumber]">
								Choose a Manufacturer:
								<select name="materialManufacturer" ng-model="materialManufacturer" ng-options="material.manufacturer for material in vm.materials | filter: {distributor: materialDistributor.distributor} | unique: 'manufacturer' | orderBy:'manufacturer'">
									<option value="">----Select----</option>
								</select>
								<div ng-show="materialManufacturer">
									<br>
									Choose a Colour Description:
									<select name="materialDescription" ng-model="materialDescription" ng-options="material.description + ' - ' + material.thickness + 'x' + material.width + 'x' + material.length for material in vm.materials | filter:{manufacturer:materialManufacturer.manufacturer} | orderBy:'description'">
										<option value="">----Select----</option>
									</select>
								</div>
								<div ng-show="materialManufacturer && materialDescription">
									<br>
									<ul class="list-group"> 
										<li class="list-group-item">	
											Item Code: {/materialDescription.itemCode/} <br> 
										</li>	
										<li class="list-group-item">	
											Thickness: {/materialDescription.thickness/} <br> 
										</li>	
										<li class="list-group-item">	
											Width (In.):   {/materialDescription.width/} 
											| Override <input type="text" ng-model="materialDescription.overrideWidth"> <br> 
										</li>				
										<li class="list-group-item">	
											Width (In.):   {/materialDescription.length/} 
											| Override <input type="text" ng-model="materialDescription.overrideLength"> <br>
										</li>	
										<li class="list-group-item">	
											Full Sheet 1-5: {/materialDescription.fullSheet1/} <br> 
										</li>	
										<li class="list-group-item">	
											Half Sheet: {/materialDescription.halfSheet/} <br> 
										</li>
										<li class="list-group-item">	
											Full Sheet 5-20:{/materialDescription.fullSheet5/} <br> 
										</li>
										<li class="list-group-item">	
											Full Sheet 21+: {/materialDescription.fullSheet21/} <br> 
										</li>
										<li class="list-group-item">	
											ISA: {/materialDescription.isa/} <br> 
										</li>
										<li class="list-group-item">	
											Collection: {/materialDescription.matCollection/} <br> 
										</li>
									</ul>
<!--{/materialDescription | json/}-->
									<button type="button" ng-click="vm.editMaterialSave(materialDescription, group.groupNumber); vm.editMaterial[group.groupNumber] = false; materialManufacturer==''; materialDescription; isCounterCollapsed = isCounterCollapsed" ng-show="vm.editMaterial[group.groupNumber]" class="btn btn-default">Save Edit</button>
								</div>
				      		</span>
							<br><button type="button" ng-click="vm.editMaterial[group.groupNumber] = true" ng-hide="vm.editMaterial[group.groupNumber]" class="btn btn-default">Edit this Material</button>
							<button type="button" ng-click="vm.editMaterial[group.groupNumber] = false" ng-show="vm.editMaterial[group.groupNumber]" class="btn btn-default">Cancel</button>
						</div>
					</div>
					<button type="button" style="btn;" ng-click="vm.addCounter(group.groupNumber, group.counters.length)">Add a Counter</button>
					<br>
					<br>
					<!--End Material Collapsable-->
					<br>
					<!--START OF COUNTER LOOP-->
					<div ng-repeat="counter in group.counters track by $index">
						<button type="button" class="btn btn-danger" style="float:right" ng-click="vm.removeCounter(group.groupNumber, $index)">DELETE THIS COUNTER</button>
						<br><br><br> 
				  		<button type="button" class="btn btn-default" ng-click="isCounterCollapsed = !isCounterCollapsed"><span ng-hide="counter.description">Counter {/$index + 1/}</span> <span ng-show="counter.description">{/counter.description| limitTo:100/}</span></button>
			  			<div uib-collapse="!isCounterCollapsed">
							<div class="well well-lg">
								<table class="table table-hover table-bordered">
<!--<br><br>{/counter.sheets|json/}-->
									Counter Description:
									<br><textarea rows="4" cols="75" ng-model="counter.description"></textarea>
									<br>
						  			<caption><u>Summary</u></caption>
									<tbody>
							  			<tr>
							  				<td>
							  					Shape: 
										  		<span ng-show="vm.editCounter[$index]">
										  			<select name="shape" ng-model="counter.counterShape" convert-to-number id="shape">
														<option value="" selected='selected'>----Select----</option>
														<option  value="rectangle">Rectangle</option>
														<option value="circle">Circle (use radius)</option>
													</select>
										  		</span>
							  					<span ng-hide="vm.editCounter[$index]">
							  						{/counter.counterShape/}
					  							</span>
							  					<br>SQFT:
								  				<span ng-show="counter.counterShape==='rectangle'">	
								  					{/(counter.counterLength/12 * counter.counterWidth/12) | number : 2/} 
							  					</span> 
							  					<span ng-hide="counter.counterShape==='rectangle'">
								  					{/((counter.counterLength /12 * counter.counterLength /12) * vm.math.PI) | number : 2/} 
							  					</span>
								  			</td>	
							  				<span ng-hide="vm.editCounter[$index]">
										      	<td>
													<span ng-show="counter.counterShape==='rectangle'">
									  					Length:
														<span ng-show="vm.editCounter[$index]">
											  				<input type="text" ng-model="counter.counterLength">
									  					</span>
										  				<span ng-hide="vm.editCounter[$index]">
										  					{/counter.counterLength/}"
									  					</span> 
								  					</span>
						  							<span ng-show="counter.counterShape==='rectangle'"><br>Width: </span>
						  							<span ng-show="counter.counterShape==='circle'"><br>Radius: </span>
							  						<span ng-show="vm.editCounter[$index]">
								  						<input type="text" ng-model="counter.counterWidth">
								  					</span>
								  					<span ng-hide="vm.editCounter[$index]">
									  					{/counter.counterWidth/}"
								  					</span>
						  					  	</td>
							  				</span>
<!--{/counter|json/}-->
								  		</tr>
					  				</tbody>
				  				</table>
				  				<br><button type="button" ng-click="vm.editCounter[$index] = true" ng-hide="vm.editCounter[$index]" class="btn btn-default">Edit this Counter</button>
				  				<button type="button" ng-click="vm.editCounter[$index]=false" ng-show="vm.editCounter[$index]" class="btn btn-default">Cancel</button>
				  				<button type="button" ng-click="vm.calcCounter(counter.counterWidth, counter.counterLength, counter.counterShape, $index, group.groupNumber, counter.description); vm.editCounter[$index]=false" ng-show="vm.editCounter[$index]" class="btn btn-default">Save Counter</button>
<!--<br> {/counter.material | json/} <br>-->
								<!--This is removed until I retool it to work properly-->			
						      	<!--<span ng-show="counter.totalPrice">Counter Subtotal: {/counter.totalPrice |currency:$/}</span>-->
							</div>
						</div>	
				      	<hr style="background:#FFFFFF; border:0; height:7px" />
					</div>
					<!--END OF COUNTER LOOP-->
					<button type="button" ng-click="vm.divAddons[group.groupNumber] = true">Add Addons</button>
					<div ng-show="vm.divAddons[group.groupNumber]">
						<br>Addons: 
						<br>
						Choose a Manufacturer:
						<select name="counterAddonManufacturer" ng-model="counterAddonManufacturer" ng-options="product.manufacturer for product in vm.products | filter:{distributor:counterAddonDistributor.distributor} | unique: 'manufacturer' | orderBy:'manufacturer'">
							<option value="">----Select----</option>
						</select>
						<div ng-show="counterAddonManufacturer">
							<br>
							Choose a Product Type:
							<select name="counterAddonType" ng-model="counterAddonType" ng-options="product.productType for product in vm.products | filter:{manufacturer:counterAddonManufacturer.manufacturer, nonMandatory:true} | unique: 'productType' | orderBy:'productType'">
								<option value="">----Select----</option>
							</select>
						</div>
						<div ng-show="counterAddonManufacturer && counterAddonType">
							<br>
							Choose an Item Code:
							<select name="counterAddonDescription" ng-model="counterAddonDescription" ng-options="product.itemCode + ' - ' + product.description + ' - $' + product.price + '/' + product.formula for product in vm.products | filter:{manufacturer:counterAddonManufacturer.manufacturer, productType:counterAddonType.productType, nonMandatory:true} | unique: 'itemCode' | orderBy:'itemCode'">
								<option value="">----Select----</option>
							</select>
						</div>
						<div ng-show="counterAddonManufacturer && counterAddonType && counterAddonDescription">
							<br>
							<ul class="list-group">
								<li class="list-group-item">	
									Price /<span ng-show="counterAddonDescription.formula=='item'">Item</span>
									<span ng-show="counterAddonDescription.formula=='sqft'">Square Foot</span>
									<span ng-show="counterAddonDescription.formula=='linearLW'">Linear Foot</span>
									<span ng-show="counterAddonDescription.formula=='linearLSUM'">Linear Foot</span>: {/counterAddonDescription.price| currency:$/}<br> 
								</li>	
								<li class="list-group-item">	
									Formula: {/counterAddonDescription.formula/}
								</li>
								<li ng-show="counterAddonDescription.formula=='item'" class="list-group-item">	
									Quantity: 
										<input type="text" placeholder="1" ng-model="counterAddonDescription.quantity">
									<br>
								</li>
								<li ng-show="
									counterAddonDescription.formula=='sqft' ||
									counterAddonDescription.formula=='linearLW' ||
									counterAddonDescription.formula=='linearLSUM'" class="list-group-item">
									Override Length/Area <input type="text" ng-model="counterAddonDescription.overrideValue"> 
								</li>	
							</ul>
						    <button type="button" ng-click="vm.saveAddon(counterAddonDescription, shape, group.TAC, group.groupNumber); vm.divAddons[group.groupNumber]=false; counterAddonDistributor=''; counterAddonManufacturer=''; counterAddonType=''; counterAddonDescription='';" class="btn btn-default">Add Addons</button>
						</div>
						<br>
						<button type="button" ng-click="vm.divAddons[group.groupNumber]=false; counterAddonDistributor = ''" class="btn btn-danger">Cancel</button> 
					</div>
					<br>
<!--{/group.addons|json/}-->
					<div ng-repeat="addon in group.addons track by $index">
						<br>{/addon.productType/} - {/addon.description/} : 
						<span ng-show="group.material.length !== '' && addon.formula !=='item'">{/addon.quantity/}</span>
						<span ng-show="addon.formula ==='item'">{/addon.quantity * group.quantity/}</span>
							<span ng-show="addon.formula == 'linear'">'</span>
							<span ng-show="addon.formula =='sqft'">'<sup>2</sup></span>
						@{/addon.price | currency:$/} | {/addon.totalPrice | currency:$/} <a ng-click="vm.removeAddon(addon, group.groupNumber, $index)">remove</a>
					</div>
					<br>
					<!--Material Selection-->
					<div ng-hide="group.material || !group.counters.length"> 
						<u>Choose your Material</u>
						<br>
						Choose a Manufacturer:
						<select name="materialManufacturer" ng-model="materialManufacturer" ng-options="material.manufacturer for material in vm.materials | unique: 'manufacturer' | orderBy:'manufacturer'">
							<option value="">----Select----</option>
						</select>
						<div ng-show="materialManufacturer">
							<br>
							Choose a Colour Description:
							<select name="materialDescription" ng-model="materialDescription" ng-options="material.description + ' - ' + material.thickness + 'x' + material.width + 'x' + material.length for material in vm.materials | filter:{manufacturer:materialManufacturer.manufacturer} | orderBy:'description'">
								<option value="">----Select----</option>
							</select>
						</div>
						<div ng-show="materialManufacturer && materialDescription">
							<br>
							<ul class="list-group"> 
								<li class="list-group-item">	
									Item Code: {/materialDescription.itemCode/} <br> 
								</li>	
								<li class="list-group-item">	
									Thickness: {/materialDescription.thickness/} <br> 
								</li>	
								<li class="list-group-item">	
									Width (In.):   {/materialDescription.width/} 
									| Override <input type="text" ng-model="materialDescription.overrideWidth"> <br> 
								</li>				
								<li class="list-group-item">	
									Length (In.): {/materialDescription.length/} | Override <input type="text" ng-model="materialDescription.overrideLength"> <br> 
								</li>	
								<li class="list-group-item">	
									Full Sheet 1-5: {/materialDescription.fullSheet1/} <br> 
								</li>	
								<li class="list-group-item">	
									Half Sheet: {/materialDescription.halfSheet/} <br> 
								</li>
								<li class="list-group-item">	
									Full Sheet 5-20:{/materialDescription.fullSheet5/} <br> 
								</li>
								<li class="list-group-item">	
									Full Sheet 21+: {/materialDescription.fullSheet21/} <br> 
								</li>
								<li class="list-group-item">	
									ISA: {/materialDescription.isa/} <br> 
								</li>
								<li class="list-group-item">	
									Collection: {/materialDescription.matCollection/} <br> 
								</li>
							</ul>
						</div>
						<button type="button" ng-click="vm.saveMaterial(materialDescription , group.groupNumber); materialDistributor=''; materialManufacturer=''; materialColourGroup=''; materialDescription=''" ng-show="materialManufacturer && materialDescription" class="btn btn-default">Save Material</button>
					</div>
					<!--End Material Selection-->
					<span ng-show="group.counters && group.material">
						<table>
			      			<caption><u>Pricing</u></caption>
		      				<tr>
		      					<td ng-show="group.material.halfSheet">
		      						Half Sheet
		      					</td>
		      					<td ng-show="group.material.fullSheet1">
		      						1-5 Full Sheets
		      					</td>
		      					<td ng-show="group.material.fullSheet5">
		      						6-20 Full Sheets 
		      					</td>
		      					<td ng-show="group.material.fullSheet21">
		      						21+ Full Sheets
		      					</td>
		      					<td ng-show="group.material.isa">
		      						ISA Discount
		      					</td>
		      					<td>
		      						Custom Price
		      					</td>
		      				</tr>
			      			<tr>
			      				<td ng-show="group.material.halfSheet">
			      					<input type="radio" name="counterPricing{/group.groupNumber/}" ng-model="group.material.pricing" ng-change="vm.changePricing(group.material.pricing, group.groupNumber, group.material)" value="halfSheet">
			      					{/group.material.halfSheet | currency:$/}/sheet
			      				</td>
			      				<td ng-show="group.material.fullSheet1">
			      					<input type="radio" name="counterPricing{/group.groupNumber/}" ng-model="group.material.pricing" ng-change="vm.changePricing(group.material.pricing, group.groupNumber, group.material)" value="fullSheet1">
			      					{/group.material.fullSheet1 | currency:$/}/sheet
			      				</td>
			      				<td ng-show="group.material.fullSheet5">
			      					<input type="radio" name="counterPricing{/group.groupNumber/}" ng-model="group.material.pricing" ng-change="vm.changePricing(group.material.pricing, group.groupNumber, group.material)" value="fullSheet5">
			      					{/group.material.fullSheet5 | currency:$/}/sheet
			      				</td>
			      				<td ng-show="group.material.fullSheet21">
			      					<input type="radio" name="counterPricing{/group.groupNumber/}" ng-model="group.material.pricing" ng-change="vm.changePricing(group.material.pricing, group.groupNumber, group.material)" value="fullSheet21">
			      					{/group.material.fullSheet21 | currency:$/}/sheet
			      				</td>
			      				<td ng-show="group.material.isa">
			      					<input type="radio" name="counterPricing{/group.groupNumber/}" ng-model="group.material.pricing" ng-change="vm.changePricing(group.material.pricing, group.groupNumber, group.material)" value="isa">
			      					{/group.material.isa | currency:$/}/sheet
			      				</td>
			      				<td>
			      					<input type="radio" name="counterPricing{/group.groupNumber/}" ng-model="group.material.pricing" ng-change="vm.changePricing(group.material.pricing, group.groupNumber, group.material)" value="customPrice">
			      					<input type="number" ng-model='group.material.customPrice' name="counterPricing{/group.groupNumber/}" style="width:75px">/sheet
			      				</td>
			      			</tr>
			      		</table>
						<br>
						<table>
							<caption><u>Group Summary:</u></caption>
							<tr>
								<td>Total Area of Counters</td>
								<td>Estimated Sheets</td>
								<td>Group Material Cost</td>
								<td>Group Material Cost Per ft2</td>
								<td>Total Group Cost</td>
								<td>Total Group Cost Per ft2</td>
							</tr>
							<tr>
								<td>{/vm.math.round(((group.TAC * group.quantity) + 0.00001) * 100) / 100/} SQFT</td>
								<td>{/group.estimatedSheets/}</td>
								<td>{/group.GMC * vm.quote.jobDifficulty | currency:$/}</td>
								<td>{/group.GMCPSF * vm.quote.jobDifficulty | currency:$/}/SQFT</td>
								<td>{/group.totalPrice * vm.quote.jobDifficulty | currency:$/}</td>
								<td>{/group.GCPSF * vm.quote.jobDifficulty | currency:$/}/SQFT</td>
							</tr>
						</table>
						<br>
						Sheets required: <input type="number" ng-model='group.sheets' name='group.sheets' ng-change="vm.calcGroup(group.groupNumber, group.material)">
						Quantity: <input type="number" ng-model='group.quantity' name='group.quantity' ng-change="vm.calcGroup(group.groupNumber, group.material)">
					</span> 	
					<hr style="background:#000000; border:0; height:7px"/>
				</div>

				<br>
				<br><button type="button" ng-click="vm.divMandatory = true; showMandatory($index)" ng-show="vm.divMandatory == false">Add Mandatory Charges</button>
				<div ng-show="vm.divMandatory == true">
					<br>Mandatory charges: 
					<br>
					Choose a Manufacturer:
					<select name="mandatoryManufacturer" ng-model="mandatoryManufacturer" ng-options="product.manufacturer for product in vm.products | filter:{mandatory:'true'} | unique: 'manufacturer' | orderBy:'manufacturer'">
						<option value="">----Select----</option>
					</select>
					<div ng-show="mandatoryManufacturer">
						<br>
						Choose a Product Type:
						<select name="mandatoryType" ng-model="mandatoryType" ng-options="product.productType for product in vm.products | filter:{manufacturer:mandatoryManufacturer.manufacturer, mandatory:true} | unique: 'productType' | orderBy:'productType'">
							<option value="">----Select----</option>
						</select>
					</div>
					<div ng-show="mandatoryManufacturer && mandatoryType">
						<br>
						Choose an Item Code:
						<select name="mandatoryDescription" ng-model="mandatoryDescription" ng-options="product.itemCode + ' - ' + product.description + ' - $' + product.price + '/' + product.formula for product in vm.products | filter:{manufacturer:mandatoryManufacturer.manufacturer, productType:mandatoryType.productType, mandatory:true} | unique: 'itemCode' | orderBy:'itemCode'">
							<option value="">----Select----</option>
						</select>
					</div>
					<div ng-show="mandatoryManufacturer && mandatoryType && mandatoryDescription">
						<br>
						<ul class="list-group">
							<li class="list-group-item">	
								Price /<span ng-show="mandatoryDescription.formula=='item'">Item</span>
								<span ng-show="mandatoryDescription.formula=='sqft'">Square Foot</span>
								<span ng-show="mandatoryDescription.formula=='LinearLW'">Linear Foot</span>
								<span ng-show="mandatoryDescription.formula=='LinearLSUM'">Linear Foot</span>: {/mandatoryDescription.price| currency:$/}<br> 
							</li>	
							<li class="list-group-item">	
								Formula: {/mandatoryDescription.formula/}
							</li>
							<li ng-show="mandatoryDescription.formula=='item'" class="list-group-item">	
								Quantity: <input type="text" placeholder="1" ng-model="mandatoryDescription.quantity">
								<br>
							</li>
							<li ng-show="mandatoryDescription.formula=='square'" class="list-group-item">
								Square Footage: {/vm.quote.TAC/} 
								<br>Price: {/vm.quote.TAC * mandatoryDescription.price/}
							</li>	
						</ul>
					    <button type="button" ng-click="vm.saveAddon(mandatoryDescription, shape, vm.quote.TAC, -1); vm.divMandatory=false; mandatoryManufacturer=''; counterAddonType=''; mandatoryDescription='';" class="btn btn-default">Add Mandatory</button>
					</div>
					<br>
					<button type="button" ng-click="vm.divMandatory=false;" class="btn btn-danger">Cancel</button> 
				</div>
		      	<br>
				<u>Mandatory Charges:</u>
				<br>
				<div ng-repeat="addon in vm.quote.mandatoryAddons track by $index">
					<br>{/addon.productType/} - {/addon.description/} : 
					<span ng-show="group.material.length !== ''">{/addon.quantity/}</span>
					<span ng-show="addon.formula == 'linear'">'</span>
					<span ng-show="addon.formula =='sqft'">'<sup>2</sup></span>
					@{/addon.price | currency:$/} | {/addon.totalPrice | currency:$/} <a ng-click="vm.removeAddon(addon, -1, $index)">remove</a>
				</div>
		      	<br>
				<table>
					<caption><u>Total Summary:</u></caption>
					<tr>
						<td>Area of Quote</td>
						<td>Sheets Used</td>
						<td>Quote Material Cost</td>
						<td>Quote Material Cost/Square Foot</td>
						<td>Quote Cost</td>
						<td>Total Cost/Square Foot</td>
					</tr>
					<tr>
						<td>{/vm.quote.TAC/} SQFT</td>
						<td>{/vm.quote.sheetsUsed/}</td>
						<td>{/vm.quote.GMC * vm.quote.jobDifficulty | currency:$/}</td>
						<td>{/vm.quote.GMCPSF * vm.quote.jobDifficulty | currency:$/}/SQFT</td>
						<td>{/vm.quote.totalPrice * vm.quote.jobDifficulty | currency:$/}</td>
						<td>{/vm.quote.GCPSF * vm.quote.jobDifficulty | currency:$/}/SQFT</td>
					</tr>
				</table>
				<br>Job Difficulty: <input type="number" ng-model="vm.quote.jobDifficulty" name="vm.quote.jobDifficulty">
				<span ng-show="vm.quote.jobDifficulty === null"><font color="red">This field should have a number above 0</font></span>
				<br>
				<div ng-show="vm.quote.QGM >= .35">Quote Gross Margin: 
					<font color="green">
					 {/vm.quote.QGM * vm.quote.jobDifficulty/}
					</font>
				</div>
				<div ng-show="vm.quote.QGM < .35 && vm.quote.QGM >= (.35 - .0175)">Quote Gross Margin:
					<font color="red">
						{/vm.quote.QGM * vm.quote.jobDifficulty/}
					</font>
				</div>
				<div ng-show="vm.quote.QGM < (.35 - .0175)">Quote Gross Margin:
					<font color="brown">
					 {/vm.quote.QGM * vm.quote.jobDifficulty/}
					</font>
				</div>
				<br>
				<button type="button" style="btn" ng-click="vm.quote.showGCPSF = !vm.quote.showGCPSF" ng-class="{'btn-success': vm.quote.showGCPSF, 'btn-danger': !vm.quote.showGCPSF}">Show cost per square foot?</button> (Green = Enabled)
				<br>
				<br><br>
				<b><u>Terms</u></b>
				<div ng-repeat="term in vm.terms">
					<input type="checkbox" ng-checked="vm.checkTerms(term)" ng-model="term[$index].value" ng-click="vm.buildTerms(term)">{/term.term/}<span ng-show="term.calendar=='true'"><b> *date*</b></span>
				</div>
				<br>
				Quote notes:
				<br>
				<textarea style="width:100%; height:200px" ng-model=vm.quote.notes></textarea>
				<br> 
				<br>
				Please click <a ng-href="/#/customer/{/vm.customer.custCode/}/quotebuild/{/vm.quote.quoteID/}/quotefinal" target="">here</a> to view the office copy.
				<button type="button" style="btn; float:right" ng-click="vm.saveQuote(vm.quote.description, currentUser)">Update/Save Quote</button>
				<br>
				<br>
				<uib-alert ng-repeat="alert in vm.alerts" type="{/alert.type/}" close="vm.closeAlert($index)">{/alert.msg/}</uib-alert>
				<br><br><br>
				<md-button ng-click="selected = !selected" ng-class="{'selected-button' : selected}">Debug</md-button>
				<span ng-show="selected"><pre>{/vm.quote | json/}</pre></span>
			</div>
        </div>
    </div>
</div>

<!--Modal Code for adding a counter-->
<script type="text/ng-template" id="addcounter.html">	
	<div class="modal-header">
		<h3 class="modal-title">Add Counter</h3>
	</div>
	<div class="modal-body" style="background-color:#d3d3d3">
		Counter Description:
		<br><textarea rows="4" columns="150" ng-model="description"></textarea>
		<br><br>

		Counter Shape: 
		<br>
		<select name="shape" ng-model="shape" convert-to-number id="shape">
			<option value="" selected='selected'>----Select----</option>
			<option  value="rectangle">Rectangle</option>
			<option value="circle">Circle (use radius)</option>
		</select>
		<br>
		<div ng-show="shape == 'rectangle'">
			Length in inches: <input type="text" ng-model="counterLength" name="counterLength">
		</div>
		<div ng-show="shape == 'rectangle'">
			Width in inches: <input type="text" ng-model="counterWidth" name="counterWidth">
		</div>
		<div ng-show="shape == 'circle'">
			Radius in inches: <input type="text" ng-model="counterWidth" name="counterWidth">
		</div>		
	</div>
	<div class="modal-footer">
		<button type="button" style="btn" ng-click="vm.cancel()">Cancel</button>
		<span ng-show="vm.checkIsNumber(counterLength, counterWidth, shape)">
			<button type="button" style="btn" ng-click="vm.saveCounterModal(counterWidth, counterLength, shape, description, vm.counters, vm.groupIndex); shape=''; counterWidth=''; counterLength='';">Save Counter</button>
		</span>
	</div>
</script>

<!--Modal Code rendering slabs/counters-->
<script type="text/ng-template" id="counterRenderModal.html">	
	<div class="modal-header">
		<h3 class="modal-title">Slab Plotting</h3>
	</div>
	<br>
	<div id= "modal-body" class="modal-body" 
		style="background-color:#d3d3d3; height:1120px; width:850 margin: 0 auto;"
	>
		<!-- This is where the magic happens! -->
		<canvas id="canvas"
			style="margin: 0 auto; border: 1px gray solid; height:1100px; width:850px"
			ng-init="vm.init()">
			Your browser does not support Canvas
		</canvas>
	</div>
	<div class="modal-footer">
		<span ng-show="vm.canvasDisplay == 'counters'">
			<button type="button" href="#" ng-click="vm.showSlab()">
				Show Slab
			</button>
		</span>
		<span ng-show="vm.canvasDisplay == 'slabs'">
			<button type="button" href="#" ng-click="vm.showCounters()">
				Show Counter
			</button>
		</span>
		<button type="button" href="#" ng-click="vm.printCanvas()">
			Print
		</button>

		<button type="button" style="btn" ng-click="vm.cancel()">Cancel</button>
		<span ng-show="vm.checkIsNumber(counterLength, counterWidth, shape)">
			<button type="button" style="btn" ng-click="vm.saveCounterModal(counterWidth, counterLength, shape, description, vm.counters, vm.groupIndex); shape=''; counterWidth=''; counterLength='';">Save Counter</button>
		</span>
	</div>
</script>
	<!--<br>
	<u>Debug info:</u>
	<br>
	{/vm.quote|json/}
	<br><br>-->