<!DOCTYPE html>
<div ng-controller="quoteCtrl" ng-init='customer=<%- JSON.stringify(customer) %>;quote=<%- JSON.stringify(quote) %>; products=<%- JSON.stringify(products) %>; materials=<%- JSON.stringify(materials) %>; addTable == false'>
	<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
	Customer: {{customer.lastName}}, {{customer.firstName}}
	<br>QuoteID: {{quote.quoteID}}
	<br>
	<br>
	Description:
	<br>
	<textarea rows="4" columns="150" ng-model="quote.description"></textarea>
	<br>
	<div ng-show="addTable == true">
		<form>
			Counter Shape: 
			<br>
			<select name="shape" ng-model="shape" convert-to-number id="shape">
				<option value="" selected='selected'>----Select----</option>
				<option  value="rectangle">Rectangle</option>
				<option value="circle">Circle</option>
			</select>
			<br>
			<div ng-show="shape == 'rectangle' || shape == 'circle'">
				Width in inches: <input type="text" ng-model="counterWidth" name="counterWidth">
			</div>
			<br>
			<div ng-show="shape == 'rectangle'">
				Length in inches: <input type="text" ng-model="counterLength" name="counterLength">
			</div>
			<div ng-show="shape == 'rectangle' || shape == 'circle'">
				<br>
				Choose a Colour Group: 
				<select name="materialColourGroup" ng-model="materialColourGroup" ng-options="material.colourGroup for material in materials | orderBy:'colourGroup' | unique: 'colourGroup' track by material.colourGroup">
					<option value="">----Select----</option>
				</select>
			</div>
			<br>
			<div ng-show="materialColourGroup">
				<br>
				Choose a Colour:
				<select name="materialColour" ng-model="materialColour" ng-options="material.colour for material in materials | filter:{colourGroup: materialColourGroup.colourGroup} ">
					<option value="">----Select----</option>
				</select>
			</div>
			<div ng-show="materialColourGroup && materialColour">
				<br>
				<ul class="list-group"> 
					<li class="list-group-item">	
						Price/Sheet: {{materialColour.price}}<br>
					</li>	
				</ul>
			</div>
		</form>
	</div>
	<div ng-show="dropDown2 && dropDown1">
	</div>
	<br>
	<div ng-show="addTable == true">
		<button type="button" style="btn" ng-click="hideCounter()">Cancel</button>
		<button type="button" style="btn" ng-click="saveTable(quote, counterWidth, counterLength, shape, materialColour.colourGroup, materialColour.colour, materialColour.price)">Save Table</button>
	</div>
	<div ng-hide="addTable == true">
		<button type="button" style="btn" ng-click="showCounter()">Add a table</button>
	</div>
	<br><br>
	<u>Summary</u>: 
	<br>
	<div ng-repeat="counter in quote.counters">
  		<u>Counter {{$index + 1}}</u> <button type="button" style="btn" ng-click="deleteTable(quote, $index)">DELETE THIS TABLE</button>
  		<br>
  		<br><br>
  		<br>Counter Shape: {{counter.counterShape}} 
  		<br>Counter Width: {{counter.counterWidth}}
      	<br>Counter Length: {{counter.counterLength}}
      	<br>Counter Colour Group: {{materialColour.colourGroup}}
      	<br>Counter Material: {{materialColour.colour}}
      	<br>Counter Price/Sheet: {{materialColour.price}}
      	<!--<br>counter Thickness: {{counter.counterThickness1}}
      	<br>counter Thickness 2: {{counter.counterThickness1}}-->
		<br><u>Addons:</u> 
		<br>
		<div ng-repeat="addon in counter.addons">
			<br>{{addon.product}}: {{addon.quantity}} <a href="#" ng-click="removeAddon(addon.name, $index, quote)">remove</a>
		</div>
		<br>
		<br>Addons: 
		<select name="category" ng-model="dropDown1" ng-options="product.category for product in products | filter:{category: '!mandatory'} | unique: 'category' track by product.category">
			<option value="">----Select----</option>
		</select>
		<br>
		<div ng-show="dropDown1">
			<br>
			Choose a Product:
			<select name="product" ng-model="dropDown2" ng-options="product.product for product in products | filter:{category: dropDown1.category} track by product.product">
				<option value="">----Select----</option>
			</select>
		</div>
		<div ng-show="dropDown2 && dropDown1">
			<ul class="list-group"> 
				<li class="list-group-item">	
					Price/Inch: {{dropDown2.price}}<br>
				</li>	
				<li class="list-group-item" ng-show="dropDown2.menuType == 'textbox'">	
					Quantity: <input type="text" ng-model="addonQuantity" name="addonQuantity">
				</li>
				<li class="list-group-item" ng-show="dropDown2.menuType == 'checkbox'">	
					Include: <input type="checkbox" ng-model="addonQuantity" name="addonQuantity">
				</li>
				<li class="list-group-item" ng-show="dropDown2.menuType == 'dropDown'">	
					Size: <select name="productDropdown" ng-model="productDropdown" ng-options="dropdown.product for dropdown in dropDown2.dropDown">
				<option value="">----Select----</option>
			</select>
				</li>
			    <button type="button" class="btn btn-default" ng-click="saveAddon(quote, $index, dropDown2.name, dropDown2.product, dropDown2.price, addonQuantity)">Add</button>
			</ul>
		</div>
		<br>
		Mandatory charges:
		<br>
		<div ng-repeat="product in products | filter:{category: 'mandatory'}">
			<br>{{product.product}} - {{product.price}}/item
			<br>Quantity<input type="text" ng-model="mandatoryCharges">
		</div>>
		---------------------------------------------------------------------------------------------------------------------------------------------
	</div>
	<br>Total Price: {{quote.totalPrice}}
	<br>Job Difficulty: {{quote.jobDifficulty}}
	<br>
	<button type="button" style="btn" ng-click="saveQuote(quote, quote.description)">Update/Save Quote</button>
</div>