<!DOCTYPE html>
<div class="jumbotron">
  <div class="container">
    <div class="col-xs-offset-2 col-xs-8">
      <div class="container">
        <div ng-controller="registerCtrl">
          <h1>Register</h1>
          <p class="lead"></p><br/>
          <form ng-submit="vm.submit(userForm, currentUser)" id="form" name="form" style="max-width: 300px;">
            <div class="form-group">
              <input type="text" required ng-model="userForm.userName" name="username" placeholder="Enter Username" class="form-control"/>
            </div>
            <div class="form-group">
              <input type="password" required ng-model="userForm.password" name="password" placeholder="Password" class="form-control"/>
            </div>
            <div class="form-group">
              UserType: 
              <select name="accountType" required ng-model="userForm.accountType">
                <option value="admin">Admin</option>
                <option value="user" selected>User</option>
              </select>
            </div>
            <div class="form-group">
              <input type="email" required ng-model="userForm.email" name="email" placeholder="Email" class="form-control">
              <input type="text" required ng-model="userForm.phoneNumber" name="phoneNumber" placeholder="Phone Number" class="form-control">
            </div>
            <input type="submit" id="submit" class="btn btn-default">&nbsp;
            <a href="/">
              <button type="button" class="btn btn-primary">Cancel</button>
            </a>
          </ng-form><br/>
          <uib-alert ng-repeat="alert in vm.alerts" type="{/alert.type/}" close="vm.closeAlert($index)">{/alert.msg/}</uib-alert>
          <h4></h4>
        </div>
      </div>
    </div>
  </div>
</div>