<!DOCTYPE html>
<md-tabs md-dynamic-height="" md-border-bottom="">
<md-tab label="Register User">
	<h1>Register</h1>
  	<p class="lead"></p><br/>
  	<form ng-submit="vm.submit(userForm, currentUser)" id="form" name="form" style="max-width: 300px;">
    <div class="form-group">
      <input type="text" required ng-model="userForm.firstName" name="firstName" placeholder="Enter First Name" class="form-control"/>
    </div>
    <div class="form-group">
      <input type="text" required ng-model="userForm.lastName" name="lastName" placeholder="Enter Last Name" class="form-control"/>
    </div>
    <div class="form-group">
      <input type="text" required ng-model="userForm.username" name="username" placeholder="Enter Username" class="form-control"/>
    </div>
    <div class="form-group">
      <input type="password" required ng-model="userForm.password" name="password" placeholder="Password" class="form-control"/>
    </div>
    <div class="form-group">
      <input type="password" required ng-model="userForm.password2" name="password2" placeholder="Re-type this the password" class="form-control"/>
    </div>
    <div class="form-group">
      UserType: 
      <select name="accountType" required ng-model="userForm.accountType">
        <option value="admin">Admin</option>
        <option value="user" selected>User</option>
      </select>
    </div>
    <div class="form-group">
      <input type="email" required ng-model="userForm.email" name="email" placeholder="Email" class="form-control">
      <input type="text" required id="Creation_Date" name="phoneNumber" maxlength="50" class="form-control" data-ng-model="userForm.phoneNumber" restrict="reject" mask='(999)-999-9999' placeholder="Phone Number" class="form-control"/>
    </div>
    <input type="submit" id="submit" class="btn btn-default">&nbsp;
    <a href="/">
      <button type="button" class="btn btn-primary">Cancel</button>
    </a>
  	</ng-form><br>
</md-tab>
<!--User Accounts Tab-->			
<md-tab label="User Accounts">
	Click to Edit:
	<div class="list group">
		<div class="col-xs-6 col-sm-4" data-ng-repeat="account in vm.accounts | orderBy:'lastName' track by $index">
			<a ng-click="vm.accountEditModal(account, $index)" class="list-group-item">
				<i class="fa fa-user-circle"></i><span ng-click="vm.deleteAccountModal($event, account, $index)" style="float:right ">x</span>
				<h5>{/account.firstName/} {/account.lastName/}</h5>
				<h6>Account Name: {/account.username/} Account Type: {/account.accountType/}
				<br> Email: <br>{/account.email/} Phone Number: {/account.phoneNumber/}</h6>
			</a>
		</div>
	</div>
</md-tab>
<md-tab label="User Permissions/password">
</md-tab>
</md-tabs>
<uib-alert ng-repeat="alert in vm.alerts" type="{/alert.type/}" close="vm.closeAlert($index)">{/alert.msg/}</uib-alert>
<script type="text/ng-template" id="accountEdit.html">   
    <form ng-submit="vm.submitAccountEdit(vm.account)" id="createCustomerForm" name="createCustomerForm">
        <div class="modal-header">
            <h3 class="modal-title">Edit Account</h3>
        </div>
        <br>
        <div class="form-group row">
            <label for="firstName" class="col-sm-1 col-form-label">First Name</label>
            <div class="form-group col-sm-3">
                <input type='text' class="form-control" ng-model="vm.account.firstName" name='firstName' required>
            </div>
            <label for="lastName" class="col-sm-1 col-form-label">Last Name</label>
            <div class="form-group col-sm-3">
                <input type='text' class="form-control" ng-model="vm.account.lastName" name='lastName' required>
            </div>
            <label for="title" class="col-sm-1 col-form-label">Username</label>
            <div class="form-group col-sm-3">
                <input type='text' class="form-control" ng-model="vm.account.username" name='title'>
            </div>
            <label for="title" class="col-sm-1 col-form-label">AccountType</label>
            <div class="form-group col-sm-3">
                <input type='text' class="form-control" ng-model="vm.account.username" name='title'>
            </div>
            <label for="title" class="col-sm-1 col-form-label">Email</label>
            <div class="form-group col-sm-3">
                <input type='text' class="form-control" ng-model="vm.account.email" name='title'>
            </div>
            <label for="title" class="col-sm-1 col-form-label">Phone Number</label>
        </div>
        <div class="form-group row">
            <label for="phone" class="col-sm-2 col-form-label">Telephone</label>
            <div class="col-sm-4">
                <input type='text' ng-model="vm.account.phoneNumber" name='phone' 
                    maxlength="50"
                    class="form-control"
                    restrict="reject" 
                    mask='(999)-999-9999' 
                    placeholder="(xxx)-xxx-xxxx"
                    required>                   </div>
            <label for="fax" class="col-sm-1 col-form-label">Email</label>
            <div class="col-sm-5">
                <input type='email' class="form-control" ng-model="vm.account.email" name='email' required>
            </div>
        </div>
        <div class="modal-footer">
            <input class="btn btn-default" type="submit" id="submit" value="Submit"/> <button type="button" class="btn" ng-click="vm.cancel()">Cancel</button>
        </div>
    </form>
</script>