<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <base href="/">
    <title>Surfacing Solutions</title>
    <!--jquery and twitter bootstrap-->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <!--Angular and modules-->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascripts/ui-bootstrap.js"></script>
    <script src="/javascripts/angular-filter.js"></script>
    <script src="/javascripts/angularapp.js"></script>
    <script src="/javascripts/controls/adminCtrl.js"></script>
    <script src="/javascripts/controls/newCustomerCtrl.js"></script>
    <script src="/javascripts/controls/quoteCtrl.js"></script>
    <script src="/javascripts/controls/customersCtrl.js"></script>
    <script src="/javascripts/controls/customerCtrl.js"></script>
    <script src="/javascripts/controls/searchCtrl.js"></script>
    <script src="/javascripts/controls/invoiceCtrl.js"></script>    
    <script src="/javascripts/controls/finalquotectrl.js"></script>    
    <link rel='stylesheet' type='text/css' href='stylesheets/quotestyle.css' />
    <link rel='stylesheet' type='text/css' href='stylesheets/quoteprint.css' media="print" />
    <script type='text/javascript' src='javascripts/jquery-1.3.2.min.js'></script>
    <script type='text/javascript' src='javascripts/example.js'></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <!--put this in ng-init: currentUser = <%if (user) {%><%= true %><%}else{%><%= false %><%}%> -->
  <body ng-app="surfacingSolutions"  ng-init="">
  <div class="header">
    <!--<%if (user) { %>
      Welcome, <%= user.username %>!
    <%} %>-->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Surfacing Solutions</a>
        </div>
        <div class="collapse navbar-collapse" id="js-navbar-collapse">
          <ul class="nav navbar-nav">
            <li ng-hide="currentUser == false" class=""><a ui-sref="home">Home</a></li>
            <li class="nav nav-tabs">
              <li ng-hide="currentUser == false" role="presentation" class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-  expanded="false">
                    Admin <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li>
                      <a ui-sref="admin">Change Default Pricing</a>
                    </li>
                    <li role="menu" class="divider"></li>
                    <li>
                      <a ui-sref="register">Register User</a>
                   </li>
                 </ul>
                </li>
            </li>
            <li ng-hide="currentUser == false" role="presentation" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-  expanded="false">
                Quote <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a ui-sref="newCustomer">New Customer</a>
                </li>
                <li>
                  <a ui-sref="customers">Customers</a>
                </li>
                <li role="menu" class="divider"></li>
                <li class="disabled">
                  <a ui-sref="home">Search</a>
               </li>
             </ul>
            </li>
            <li ng-show="currentUser == false">
              <a ui-sref="login">Login</a>
            </li>
            <li ng-hide="currentUser == false">
              <a href="logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
      <div><ui-view></ui-view></div>
  </body>
</html>
