body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
  .sticks {
    display: none;
  }
  .is-sticky .sticks {
    display: block;
  }
  .is-sticky .not-sticky {
    display: none;
  }