<!DOCTYPE html>
<div class="jumbotron" ng-init="vm.init()">
    <div class="container">
        <div class="col-xs-offset-2 col-xs-8">
			<form ng-submit="vm.submit(currentUser)" id="createCustomerForm" name="createCustomerForm">
				<div class="form-group">
					New Customer
				</div>
				<div class="form-group row">
    				<label for="companyName" class="col-sm-2 col-form-label">Company Name</label>
    				<div class="col-sm-10">
						<input type='text' class="form-control"  ng-model="vm.customer.companyName" name='companyName' required>
					</div>
  				</div>
  				<div class="form-group row">
	  				<label for="addressLine1" class="col-sm-2 col-form-label">Address</label>
    				<div class="col-sm-10">
						<input type='text' class="form-control"  ng-model="vm.customer.addressLine1" name='addressLine1'>
					</div>
				</div>
				<div class="form-group row">
	  				<label for="city" class="col-sm-1 col-form-label">City</label>
    				<div class="form-group col-sm-3">
						<input type='text' class="form-control"  ng-model="vm.customer.city" name='city'>
					</div>
	  				<label for="province" class="col-sm-1 col-form-label">Province</label>
					<div class="form-group col-sm-3">
						<input type='text' class="form-control"  ng-model="vm.customer.province" name='province'>
					</div>
	  				<label for="postal" class="col-sm-1 col-form-label">Postal</label>
					<div class="form-group col-sm-3">
						<input type='text' class="form-control"  ng-model="vm.customer.postal" name='postal'>
					</div>
				</div> 	
				<div class="form-group row">
	  				<label for="businessPhone" class="col-sm-2 col-form-label">Business Telephone</label>
    				<div class="col-sm-4">
						<input type='text' ng-model="vm.customer.businessPhone" name='businessPhone' 
							maxlength="50"
							class="form-control"
							restrict="reject" 
							mask='(999)-999-9999' 
							placeholder="(xxx)-xxx-xxxx">					
					</div>
					<label for="fax" class="col-sm-2 col-form-label">Business Fax</label>
    				<div class="col-sm-4">
    					<input type='text' ng-model="vm.customer.fax" name='fax'
							maxlength="50"
							class="form-control"
							restrict="reject" 
							mask='(999)-999-9999' 
							placeholder="(xxx)-xxx-xxxx">
					</div>
				</div>
				<div class="form-group">
					Primary Contact
				</div>
				<div class="form-group row">
	  				<label for="firstName" class="col-sm-1 col-form-label">First Name</label>
    				<div class="form-group col-sm-3">
						<input type='text' class="form-control" ng-model="vm.contacts[0].firstName" name='firstName' required>
					</div>
					<label for="lastName" class="col-sm-1 col-form-label">Last Name</label>
    				<div class="form-group col-sm-3">
    					<input type='text' class="form-control" ng-model="vm.contacts[0].lastName" name='lastName' required>
					</div>
					<label for="title" class="col-sm-1 col-form-label">Title</label>
    				<div class="form-group col-sm-3">
    					<input type='text' class="form-control" ng-model="vm.contacts[0].title" name='title'>
					</div>
				</div>
				<div class="form-group row">
	  				<label for="phone" class="col-sm-2 col-form-label">Telephone</label>
    				<div class="col-sm-4">
						<input type='text' ng-model="vm.contacts[0].phone" name='phone' 
							maxlength="50"
							class="form-control"
							restrict="reject" 
							mask='(999)-999-9999' 
							placeholder="(xxx)-xxx-xxxx">					
					</div>
					<label for="email" class="col-sm-1 col-form-label">Email</label>
    				<div class="col-sm-5">
    					<input type='email' class="form-control" ng-model="vm.contacts[0].email" name='email' required>
					</div>
				</div>
				<div class="form-group">
					<button class="btn btn-default" type="button" style="btn" ng-click="vm.addContact()">Add Contact</button>
				</div>
				<div ng-repeat="contact in vm.contacts track by $index" ng-if="!$first">
					<div class="form-group">
						Contact {/$index+1/} <button type="button" class="btn" ng-click="vm.removeContact($index)">remove</button> 
					</div>
					<div class="form-group row" ng-show="$index > 0">
		  				<label for="firstName" class="col-sm-1 col-form-label">First Name</label>
	    				<div class="form-group col-sm-3">
							<input type='text' class="form-control" ng-model="contact.firstName" name='firstName' required>
						</div>
						<label for="lastName" class="col-sm-1 col-form-label">Last Name</label>
	    				<div class="form-group col-sm-3">
	    					<input type='text' class="form-control" ng-model="contact.lastName" name='lastName' required>
						</div>
						<label for="lastName" class="col-sm-1 col-form-label">Title</label>
	    				<div class="form-group col-sm-3">
	    					<input type='text' class="form-control" ng-model="contacts.title" name='title'>
						</div>
					</div>
					<div class="form-group row">
		  				<label for="phone" class="col-sm-2 col-form-label">Telephone</label>
	    				<div class="col-sm-4">
							<input type='text' ng-model="contact.phone" name='phone' 
								maxlength="50"
								class="form-control"
								restrict="reject" 
								mask='(999)-999-9999' 
								placeholder="(xxx)-xxx-xxxx">					
						</div>
						<label for="email" class="col-sm-1 col-form-label">Email</label>
	    				<div class="col-sm-5">
	    					<input type='email' class="form-control" ng-model="contact.email" name='email' required>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<input class="btn btn-default" type="submit" id="submit" value="Submit"/> <button type="button" class="btn" ng-click="vm.clear()">Clear</button>
				</div>
			</form>
			<uib-alert ng-repeat="alert in vm.alerts" type="{/alert.type/}" close="vm.closeAlert($index)">{/alert.msg/}</uib-alert>
        </div>
    </div>
</div>