<!DOCTYPE html>
<div class="jumbotron" ng-init="vm.init()">
    <div class="container">
        <div class="col-xs-offset-2 col-xs-8">
			<form ng-submit="vm.submit(currentUser)" id="createCustomerForm" name="createCustomerForm">
				<table>
					<caption>New Customer</caption>
					<tr>
						<td>
						Business Contact Info								
						</td>
					</tr>
					<tr>
						<td>
							Customer Name
						</td>
						<td>
							<input type='text'  ng-model="vm.customer.companyName" name='companyName' required>
						</td>
					</tr>
					<tr>
						<td>
							Address
						</td>
						<td>
							<input type='text' ng-model="vm.customer.addressLine1" name='addressLine1' required>
						</td>
					</tr >
					<tr>
						<td>
							City
						</td>
						<td>
							<input type='text' ng-model="vm.customer.city" name='city' required>
						</td>
						<td>
							Province
						</td>
						<td>
							<input type='text' ng-model="vm.customer.province" name='province'>
						</td>
						<td>
							Postal Code
						</td>
						<td>
							<input type='text' ng-model="vm.customer.postal" name='postal'>
						</td>
					</tr>
					<tr>
						<td>
							Telephone
						</td>
						<td>
							<input type='text' ng-model="vm.customer.businessPhone" name='businessPhone' 
							maxlength="50"
							class="form-control"
							restrict="reject" 
							mask='(999)-999-9999' 
							placeholder="(xxx)-xxx-xxxx"
							required>
						</td>
						<td>
							Fax
						</td>
						<td>
							<input type='text' ng-model="vm.customer.fax" name='fax'
							maxlength="50"
							class="form-control"
							restrict="reject" 
							mask='(999)-999-9999' 
							placeholder="(xxx)-xxx-xxxx">
						</td>
					</tr>
					<tr>
						<td>Primary Contact</td>
					</tr>
					<tr>
						<td>
							First Name
						</td>
						<td>
							<input type='text' ng-model="vm.contacts[0].firstName" name='firstName' required>
						</td>
						<td>
							Last Name
						</td>
						<td>
							<input type='text' ng-model="vm.contacts[0].lastName" name='lastName' required>
						</td>
						<td>
							Title
						</td>
						<td>
							<input type='text' ng-model="vm.contacts[0].title" name='title'>
						</td>
					</tr>
					<tr>
						<td>
							Telephone
						</td>
						<td>
							<input type='text' ng-model="vm.contacts[0].phone" name='phone'
							maxlength="50"
							class="form-control"
							restrict="reject" 
							mask='(999)-999-9999' 
							placeholder="(xxx)-xxx-xxxx">
						</td>
						<td>
							Email
						</td>
						<td>
							<input type='email' ng-model="vm.contacts[0].email" name='email' required>
						</td>
					</tr>
				</table>
				<br>
				<button type="button" style="btn" ng-click="vm.addContact()">Add Contact</button>
				<br>
				<br>
				<table>
					<tbody ng-repeat="contact in vm.contacts track by $index">
						<tr ng-show="$index > 0">
							<td>
								Contact {/$index+1/}
							</td>
						</tr>
						<tr ng-show="$index > 0">
							<td>
								First Name
							</td>
							<td>
								<input type='text' ng-model="contact.firstName" name='firstName' autofocus="autofocus">
							</td>
							<td>
								Last Name
							</td>
							<td>
								<input type='text' ng-model="contact.lastName" name='lastName'>
							</td>
							<td>
								Title
							</td>
							<td>
								<input type='text' ng-model="contact.title" name='title'>
							</td>
						</tr>
						<tr ng-show="$index > 0">
							<td>
								Telephone
							</td>
							<td>
								<input type='text' ng-model="contact.phone" name='phone'>
							</td>
							<td>
								Email
							</td>
							<td>
								<input type='email' ng-model="contact.email" name='email'>
							</td>
						</tr>
					</tbody>				
				</table>
				<br>
				<input type="submit" id="submit" value="Submit"/>
			</form>
			<uib-alert ng-repeat="alert in vm.alerts" type="{/alert.type/}" close="vm.closeAlert($index)">{/alert.msg/}</uib-alert>
        </div>
    </div>
</div>